canvas   {
   border: 1px solid black;
 }

 .fullscreen {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.windowed  {
  position: relative;
}

button {
  position: relative;
  width:100px;
  height:45px;
}

#messages {
  color: purple;
}

